@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base styles */
body {
  background-color: #011c12;
  color: #f3f4f6;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}
